hr {
    border: 1.5px solid #bbbdcf; /* Make sure there's a border */
    width: 90%;
    margin: 20px 0; /* Add margin for spacing */
}

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.profile-view {
    flex: 0.23;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-img {
    height: auto;
    width: 90%;
}

.profile-data {
    width: 100%;
    padding-left: 5%;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

.profile-data > h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(0, 138, 168);
}

.profile-data > h5 {
    font-size: 1.1rem;
    font-weight: 400;
}

.profile-stats {
    color: #5a5b72;
    display: flex;

    justify-content: space-between;
    gap: 0.125rem;
    margin-bottom: 1.25rem;
    padding: 1rem 0.5rem;
}

.profile-stats > .stat {
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.profile-stats > .stat > .stat-number {
    font-size: 1.7rem;
}

.profile-stats > .stat > .stat-name {
    font-size: 0.875rem;
}

.bio {
    width: 100%;
    padding-left: 5%;
    justify-content: left;
    margin-bottom: 1.1rem;
}

.issues-view {
    flex: 0.77;
}

.issues-view * nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tab-anchor {
    border: 1.5px solid #e2e3e9;
    padding: 1rem;
    text-decoration: none;
    color: rgb(90, 91, 114);
}

.tab-anchor:hover {
    text-decoration: none;
}

.tab-anchor-selected {
    border-bottom: white;
    color: #434456;
}

.icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2em;
}
